---
title: Contact Us
slug: contact
---

<div class="header">
<div class="container">
	<h1>Tell me where it hurts.</h1>
	<p>I love hearing from people. Really, I do.</p>
</div>
</div>


<div class="content">
<div class="container">

<p>You can email me at <script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d223738336432323739336532333337333533373637333733343338333633373635" +
"33373336333736363338333533333636333833383338333333373361333833353337333633" +
"33333933333333333436343337333233333331333733393338333333373336333733373334" +
"36353336363433333333333736353337333233373361333736343338333533373637333436" +
"32333733353337333233373636333733363335333133373333333833333337333233373361" +
"33373636333833343337336133373335333733363337363733383336333833353333363633" +
"37333433373637333736353336363433333333333333313338333533373361333833353337" +
"36343337333633343635333636343333333333383334333733363337363633373335333333" +
"31333733323337363633333331333733363337363533373332333733613337363433333331" +
"33383335333736373333333133373333333833333337333233373361333736363338333433" +
"37336133373335333733363333333133373637333833363338333533363634333333333334" +
"36363337333533373332333736363337333633353331333733333338333333373332333733" +
"61333736363338333433373361333733353337333633373637333833363338333533333636" +
"33373334333736373337363533343634333336373337333233343636333333333333336133" +
"34363333343331333436333233336337613365323832383363363737303733323936613365" +
"33313363366133643739326636643636366636383735363933633661326333653333326137" +
"63376132633365373636663636373436343632373136363239323832363238326337393266" +
"37343736363337343735373332393661326433333261326133633765376132323362373933" +
"64323732373362373833643735366536353733363336313730363532383738323933623636" +
"36663732323836393364333033623639336337383265366336353665363737343638336236" +
"39326232623239376236613364373832653633363836313732343336663634363534313734" +
"32383639323932643331336236393636323836613363333333323239366132623364333933" +
"34336237393262336435333734373236393665363732653636373236663664343336383631" +
"3732343336663634363532383661323937643739223b793d27273b666f7228693d303b693c" +
"782e6c656e6774683b692b3d32297b792b3d756e657363617065282725272b782e73756273" +
"747228692c3229293b7d79\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.s" +
"ubstr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script>.</p>

</div>
</div>
