---
title: Portfolio
slug: portfolio
---

<div class="header">
<div class="container">
	<h1>My portfolio reads like a costume party.</h1>
	<p>I like to hang around with an eclectic crowd, one that includes country musicians, surfers and pirates. Honestly, I wouldn't have it any other way. This is but a smattering of the work I have done for some really awesome people.</p>
</div>
</div>


<div class="content">
<div class="container">
	<div class="clientlist">
<div class="clientitem">
<h3>Lost Mountain Clayworks</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/lost-mountain-01.jpg"><img src="/images/content/portfolio/lost-mountain-01-t.jpg" alt="Lost Mountain Clayworks" class="border" /></a></p>
<p class="url"><a href="http://www.lostmtnclay.com" rel="external">www.lostmtnclay.com</a></p>
</div>

<div class="description"><p>Lost Mountain Clayworks is the pottery studio of Mark Heimann, located in the lush forests of western Oregon. His work is deeply spiritual, often inspired by Viking, Native American and Eastern cultures.</p>

<p>That being said, Captain Quicksilver is the rough-and-tumble alter ego of Heimann, and it is he who commands <em>Quicksilver&#8217;s Pirate Pots</em>, the brutal and seaward dealings of Lost Mountain!</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture &amp; Design, Design Implementation, XHTML/CSS, WordPress Customization, PayPal Integration, Copywriting, Webhost Migration</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, JavaScript, MySQL, WordPress, PayPal</p>



<p>&nbsp;</p></div>

<p>Launched May 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Tuesdays Robot</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/tuesdays-robot-01.jpg"><img src="/images/content/portfolio/tuesdays-robot-01-t.jpg" alt="Tuesdays Robot" class="border" /></a></p>
<p class="url"><a href="http://www.tuesdaysrobot.com" rel="external">www.tuesdaysrobot.com</a></p>
</div>

<div class="description"><p>Tuesdays Robot is a country rock band from Minneapolis, whose musical and lyrical stylings are heavily influenced by Bob Dylan and The Band. Brainside Out designed and launched a new website to correspond with their first official release, the self-titled <em>Tuesdays Robot</em>.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Design, Design Implementation, XHTML/CSS, Movable Type Customization, Flash Music Player</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, MySQL, JavaScript, Flash, Movable Type</p></div>

<p>Launched April 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Big Winds Hood River</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/big-winds-01.jpg"><img src="/images/content/portfolio/big-winds-01-t.jpg" alt="Big Winds Hood River" class="border" /></a></p>
<p class="url"><a href="http://www.bigwinds.com" rel="external">www.bigwinds.com</a></p>
</div>

<div class="description"><p>The head goon behind Brainside Out has been doing work for Big Winds since 2003, long before Brainside Out even existed. Big Winds is one of the largest windsurfing and kiteboarding shops in the United States, offering gear, lessons and rentals in the Columbia River Gorge since 1987.</p>

<p>We&#8217;ve done lots of work for Big Winds, from rebuilding their site templates using standards-based XHTML/CSS, to writing website copy, to revamping their site management console and e-commerce engines.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture, Design Implementation, XHTML/CSS, Site Updates &amp; Maintenance, Copywriting, ASP Scripting, Database Management, Console Design &amp; Programming, Commerce Engine Updates &amp; Maintenance</p>

<p><strong>Tech Used:</strong> XHTML/CSS, ASP, JavaScript, Access/SQL</p></div>

<p>Ongoing Projects Since June 2003</p>

<hr />
</div>
<div class="clientitem">
<h3>Erratik Productions</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/erratik-01.jpg"><img src="/images/content/portfolio/erratik-01-t.jpg" alt="Erratik Productions" class="border" /></a></p>
<p class="url"><a href="http://www.erratikproductions.com" rel="external">www.erratikproductions.com</a></p>
</div>

<div class="description"><p>Erratik Productions is a Minnesota-based video production company that creates eclectic films and documentaries, influenced strongly by jazz, rock, electronica and hip-hop music. To help their grassroots marketing efforts, Brainside Out built Erratik a website that features their latest videos, and keeps visitors up-to-date with their current projects.</p>

</div>

<div class="work clear"><p><strong>Work Done:</strong> Site Design, Design Implementation, XHTML/CSS, WordPress Customization, Webhost Migration, Video Compression</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, JavaScript, MySQL, WordPress, QuickTime</p>

</div>

<p>Launched May 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Captain Jack's Pirate Hats</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/capt-jacks-01.jpg"><img src="/images/content/portfolio/capt-jacks-01-t.jpg" alt="Captain Jack's Pirate Hats" class="border" /></a></p>
<p class="url"><a href="http://www.captjackspiratehats.com" rel="external">www.captjackspiratehats.com</a></p>
</div>

<div class="description"><p>We here at Brainside Out are damn proud to say that we build websites for modern-day pirates. The talented pirate and hatter behind Captain Jack&#8217;s Pirate Hats is known as The MacKay, and he makes and sells only the finest in handcrafted pirate headwear.</p>

<p>We&#8217;ve been helping The MacKay run his online habadashery since early 2005, work that has included a thoughtful rearchitecture of the online product catalog, updates and maintenance to site content to keep things current and spiffy, and a lot of standards-based judo.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture, Design Implementation, XHTML/CSS, Site Updates &amp; Maintenance, Copywriting, Search Engine Optimization, Webhost Migration, PayPal Integration</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, SSH/Bash, PayPal</p></div>

<p>Ongoing Projects Since March 2005</p>

<hr />
</div>
<div class="clientitem">
<h3>Happy Tails Boarding Kennel</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/happy-tails-01.jpg"><img src="/images/content/portfolio/happy-tails-01-t.jpg" alt="Happy Tails Boarding Kennel" class="border" /></a></p>
<p class="url"><a href="http://www.happytailsgorge.com" rel="external">www.happytailsgorge.com</a></p>
</div>

<div class="description"><p>Happy Tails is a family-owned canine boarding kennel located in White Salmon, Washington in the Columbia River Gorge. To get a leg up on competition in the area, Happy Tails hired Brainside Out to build a website that is welcoming, friendly and cheerful.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Design, Design Implementation, XHTML/CSS, Photo Gallery</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, JavaScript</p></div>

<p>Launched May 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Smithson & Associates</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/smithson-associates-01.jpg"><img src="/images/content/portfolio/smithson-associates-01-t.jpg" alt="Smithson & Associates" class="border" /></a></p>
<p class="url"><a href="http://www.smithson-associates.com" rel="external">www.smithson-associates.com</a></p>
</div>

<div class="description"><p>Since 1983, Smithson &amp; Associates have been representing manufacturers in the shock and vibration industry. These companies build testing, data acquisition, and data analysis equipment that can systematically and programatically beat the living snot out of any device or product.</p>

<p>Brainside Out helped Smithson &amp; Associates move to a different webhost and rebuilt their aging website from the ground up, with a fresh layout, design and content.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture &amp; Design, Design Implementation, XHTML/CSS, Custom Webforms and PHP Processing, Webhost Migration</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, JavaScript</p></div>

<p>Launched October 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Great Nannies</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/great-nannies-01.jpg"><img src="/images/content/portfolio/great-nannies-01-t.jpg" alt="Great Nannies" class="border" /></a></p>
<p class="url"><a href="http://www.greatnannies.com" rel="external">www.greatnannies.com</a></p>
</div>

<div class="description"><p>The goal behind the Great Nannies website is to help families from all over the world find their perfect match in a nanny or au pair. Though the visual design of Great Nannies is not of our devising, we were the standards-based ninjas behind the HTML/CSS code that the site is kicking out.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Design Implementation, XHTML/CSS, Search Engine Optimization</p>

<p><strong>Tech Used:</strong> XHTML/CSS, JavaScript</p></div>

<p>Delivered December 2004</p>

<hr />
</div>
<div class="clientitem">
<h3>I've Been to Duluth</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/ive-been-to-duluth-01.jpg"><img src="/images/content/portfolio/ive-been-to-duluth-01-t.jpg" alt="I've Been to Duluth" class="border" /></a></p>
<p class="url"><a href="http://www.ivebeentoduluth.net" rel="external">www.ivebeentoduluth.net</a></p>
</div>

<div class="description"><p>I&#8217;ve Been to Duluth is a tiny online shop run by Brainside Out, that peddles a popular t-shirt boasting one of the finest towns in North America.</p></div>

<div class="work clear"><p><strong>Work</strong> Done: Site Design, Design Implementation, XHTML/CSS, Copywriting, PHP Weightlifting, PayPal Integration</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, JavaScript, SSH/Bash, PayPal</p></div>

<p>Launched February 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Brainside Out - Rosco</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/brainside-out-rosco-01.jpg"><img src="/images/content/portfolio/brainside-out-rosco-01-t.jpg" alt="Brainside Out - Rosco" class="border" /></a></p>
<p class="url"><a href="http://www.brainsideout.com" rel="external">www.brainsideout.com</a></p>
</div>

<div class="description"><p>We launched the Rosco D. Disco edition of Brainside Out to correspond with this year&#8217;s <a href="http://www.cssreboot.com/">CSS Reboot</a> community event. Feeling that our weblog was getting a bit overgrown, we wanted to strip the site down to its bare essentials, and play around with a funky design in the process.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture &amp; Design, Design Implementation, XHTML/CSS, PHP Weightlifting, Site Updates &amp; Maintenance, Copywriting</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, JavaScript, SSH/Bash, Mint</p></div>

<p>Launched May 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Brainside Out - Siskiwit</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/brainside-out-siskiwit-01.jpg"><img src="/images/content/portfolio/brainside-out-siskiwit-01-t.jpg" alt="Brainside Out - Siskiwit" class="border" /></a></p>
<p class="url"><a href="http://www.brainsideout.com/weblog" rel="external">www.brainsideout.com/weblog</a></p>
</div>

<div class="description"><p>The release of our Siskiwit design corresponded with the official establishment of Brainside Out as a full-time freelance web design shop. Okay, so it didn&#8217;t exactly correspond, as we started the business a couple months before we got around to updating the website. C&#8217;est la vie.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture &amp; Design, Design Implemention, XHTML/CSS, PHP Weightlifting, Site Updates &amp; Maintenance, Copywriting, Movable Type Customization, Webhost Migration</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, MySQL, JavaScript, Movable Type, SSH/Bash, Mint</p></div>

<p>Launched January 2006</p>

<hr />
</div>
<div class="clientitem">
<h3>Brainside Out - Wounded Knee</h3>

<div class="span-7 image last"><p><a href="/images/content/portfolio/brainside-out-wounded-01.jpg"><img src="/images/content/portfolio/brainside-out-wounded-01-t.jpg" alt="Brainside Out - Wounded Knee" class="border" /></a></p>
<p class="url"><a href="http://www.brainsideout.com" rel="external">www.brainsideout.com</a></p>
</div>

<div class="description"><p>Suffering from a leg broken while snowboarding, we built our Wounded Knee design during a beautiful summer squandered on an injured body. Unable to play outside and incapacitated as such, we redoubled our efforts in web design.</p></div>

<div class="work clear"><p><strong>Work Done:</strong> Site Architecture, Site Design &amp; Implementation, XHTML/CSS, PHP Weightlifting, Updates &amp; Maintenance, Copywriting, Movable Type Customization</p>

<p><strong>Tech Used:</strong> XHTML/CSS, PHP, MySQL, JavaScript, Movable Type</p></div>

<p>Launched August 2004</p>

<hr />
</div>
</div>

<h2>The Business</h2>

<p>I have been known to run a tiny web design and development company, where I focus on building clean and elegant websites for small businesses and other independents. While I am not currently taking on new work, you are free to peruse <a href="/skills/">my skills</a> and take a gander at my client portfolio.</p>

<p>I also print a popular t-shirt as a tribute to my favorite town in Minnesota, which you can buy with money at <a href="http://ivebeentoduluth.net/" rel="external">I've Been to Duluth</a>.</p>
</div>
</div>
