---
title: About Dane
slug: about
---

<div class="header">
<div class="container">
	<h1>All up in your grill.</h1>
	<p>Trying to describe Dane is a difficult task, as words fail to sufficiently capture his giddy exuberance with the world. Typically, he's up for trying anything, anywhere, at any time, and he tries to avoid concerning himself with his own self-preservation.</p>
</div>
</div>

<div class="content">
<div class="container">
	<p><img src="/images/content/dane-01.jpg" class="top border" style="margin-bottom: 3em;" alt="Dane Petersen in Zion National Park" />Dane Petersen is a carefree young sprite and the jive soul behind Brainside Out. Hailing from Minnesota but frequently shacking up in other locales, he loves exploring the world as much as he loves building the interwebnet. By day he is a mild-mannered web designer, but by night he grows a fearsome beard and guides trips through the wilderness. Sometimes he lives to tell about it.</p>

<p>Dane graduated from the University of Minnesota Duluth in 2003, with a degree in New Media Writing and minors in Philosophy and Jazz Studies. Immediately after graduation, he put his education to good use by moving to the Columbia Gorge to work as a gear technician for one of the largest windsurfing shops in the United States. The shop, realizing that Dane possessed skills that dwarfed even his mighty muscles and killer tan, soon brought him indoors to unleash his fury against their wild, untamed website. And this, this he did.</p>

<p>And then he summitted his first volcano.</p>

<p>And then he did something else.</p>

<p>Having thoroughly rocked the windsurf shop website, Dane moved to Central Oregon to work as a snowboard instructor, a career cut tragically short by a broken leg. Thus incapacitated and unable to do the thing he loved the most (which is typically whatever is right in front of him at any given moment), he redirected all his energies into a web design gig he had picked up down in town.</p>

<p>After moving mountains and completing other such monumental tasks, Dane zipped back to his windsurf shop for a spell and rebuilt its entire e-commerce back-end and front-end, boosting its online sales by a dizzying amount. He also found himself building websites for pirates. Real pirates, that is, who wear tricorns and wave swords and shout ARR!</p>

<p>In a universe where every action has an equal and opposite reaction, Dane knew that such incredible feats must be balanced by something completely different, but something just as completely awesome.</p>

<p>And so it came to pass that Dane spent the following season guiding wilderness trips in northern Minnesota. As the season wound to a close and as Dane realized how much he loved sharing his passion for the outdoors with area youth, he strategized on ways that he could do everything he ever wanted to do ever. How could one go about building websites for nine months out of the year, and guiding trips the other three months?</p>

<p>Thus Dane formed Brainside Out, his freelance web design and development company, in the interest of serving the needs of windsurf shops and pirates across the country.</p>
</div>
</div>
