---
title: Cool Skills
slug: skills
---

<div class="header">
<div class="container">
	<h1>You'll dig these skills.</h1>
	<p>A lot of work goes into building a website, so much so that calling myself a web designer is about as descriptive as calling myself a mammal.</p>
</div>
</div>

<div class="content">
<div class="container">
	<p>I am certainly a mammal here at Brainside Out, but how can you know if I am a squirrel or a human?  In answering that question, let's get a bit more fine-grained as to my skills:</p>

<p><strong>Website Design</strong> - I am all about pushing pixels and increasing the general hotness of the interweb.  Feel free to check out <a href="/portfolio/">my client portfolio</a> to see examples from those who have turned me loose.</p>

<p><strong>XHTML/CSS Coding</strong> - While I love being involved in the architecture and design process for a site, I'm also great at "slicing" other peoples' designs into standards-based XHTML and CSS.</p>

<p><strong>Copywriting</strong> - I can be pretty good at putting together, like, coherent sentences that your users may find mildly entertaining.  If nothing else, I promise to spell words correctly and keep the cursing to a minimum. Cursing is available, however, at no extra charge.</p>

<p><strong>Information Architecture</strong> - This is a fancy way of saying that I spend a lot of time sketching stuff out on paper, trying to figure out the best way to arrange your website and content so it makes the most sense to your users.</p>

<p>If there remains any doubt, I hope to assure you that I am indeed <em>not</em> a squirrel.</p>


<hr />

<h2>The Business</h2>

<p>I have been known to run a tiny web design and development company, where I focus on building clean and elegant websites for small businesses and other independents. While I am not currently taking on new work, you are free to peruse my skills and take a gander at <a href="/portfolio/">my client portfolio</a>.</p>

<p>I also print a popular t-shirt as a tribute to my favorite town in Minnesota, which you can buy with money at <a href="http://ivebeentoduluth.net/" rel="external">I've Been to Duluth</a>.</p>
</div>
</div>
