---
title: Now with 100% less Alba.
slug: home
---

<div class="header">
<div class="container">
	<h1>Brainside Out</h1>
	<p>Brainside Out is the online home of Dane Petersen, a professional web designer and developer who is currently pursuing a master's degree in interaction design at Indiana University.</p>
</div>
</div>

<div class="content">
<div class="container">
	<p>I have been designing websites since 2001, and crisscrossing the country in search of new excitement and cultural bric-a-brac since 2003.  I write about my most recent adventures at <a href="http://daneomatic.com/" rel="external">Daneomatic</a> and share my photography on <a href="http://flickr.com/photos/thegreatsunra" rel="external">Flickr</a>.  I make sure that the most vapid events of my life are meticulously documented by <a href="http://twitter.com/thegreatsunra" rel="external">Twitter</a>, and when that's not enough I offer supporting evidence at <a href="http://thegreatsunra.tumblr.com/" rel="external">Tumblr</a>.</p> 

<p>I have been known to run a tiny web design and development company, where I focus on building clean and elegant websites for small businesses and other independents. While I am not currently taking on new work, you are free to peruse <a href="/skills/">my skills</a> and take a gander at <a href="/portfolio/">my client portfolio</a>. I also have a gallery of <a href="/wallpaper/">desktop wallpapers</a> that may suit your fancy. </p>

<hr />

<div class="span-15">
<div class="span-5">

<ul>
<li><h3>Here:</h3></li>
<li><a href="/about/">About Dane</a></li>
<li><a href="/wallpaper/">Wallpaper Gallery</a></li>
<li><a href="/contact"/>Contact</a></li>
</ul>
</div>

<div class="span-5">

<ul>
<li><h3>Elsewhere:</h3></li>
<li><a href="http://daneomatic.com/" rel="external">Daneomatic</a></li>
<li><a href="http://thegreatsunra.tumblr.com/" rel="external">Tumblr</a></li>
<li><a href="http://twitter.com/thegreatsunra" rel="external">Twitter</a></li>
<li><a href="http://flickr.com/photos/thegreatsunra" rel="external">Flickr</a></li>
<li><a href="http://vimeo.com/thegreatsunra" rel="external">Vimeo</a></li>
<li><a href="http://del.icio.us/thegreatsunra" rel="external">Delicious</a></li>
<li><a href="http://bixbyheart.com/" rel="external">Bixby Heart</a></li>
<li><a href="http://copperplated.com/" rel="external">Copperplated</a></li>
<li><a href="http://ivebeentoduluth.net/" rel="external">I've Been To Duluth</a></li>
</ul>
</div>

<div class="span-5 last">

<ul>
<li><h3>Classics:</h3></li>
<li><a href="https://siskiwit.brainsideout.com/photolog/">Photolog</a></li>
<li><a href="https://siskiwit.brainsideout.com/weblog/">Weblog</a></li>
<li><a href="https://siskiwit.brainsideout.com/sundries/">Sundries</a></li>
<li><a href="https://siskiwit.brainsideout.com/classics/av/">Audio/Visual</a></li>
<li><a href="https://siskiwit.brainsideout.com/classics/">Classics</a></li>
</ul>
</div>
</div></div>
</div>

