---
title: Colophon
slug: colophon
---
<div class="header">
<div class="container">
	<h1>A polite way of saying narcissism.</h1>
	<p>With fewer syllables, too.</p>
</div>
</div>


<div class="content">
<div class="container">
	<p>This website is written in standards-based XHTML and CSS, with a sprinkling of magic Javascript dust to get the job done.  Its grid-based layout is courtesy of the <a href="http://code.google.com/p/blueprintcss/" rel="external">Blueprint CSS</a> design framework, and the hot <em>Model-on-View-on-Controller</em> action was provided by the <a href="http://codeigniter.com/" rel="external">Code Igniter</a> web application framework.  <a href="http://dreamhost.com/" rel="external">DreamHost</a> can take all the credit for the lousy web hosting.</p></div>
</div>
