a {
	color: #454e5f;
}

a:hover {
	color: #222;
}

body {
	background-color: #35302c;
	color: #222;
}

.navigation {
	border-top: 1px solid #6c7584;
	background-color: #666f80;
	color: #565d70;
	border-bottom: 1px solid #454e5f;
}

.navigation a {
	color: #b7b3a7;
}

body.home .navigation .home,
body.wallpaper .navigation .wallpaper,
body.portfolio .navigation .portfolio,
body.about .navigation .about,
body.contact .navigation .contact {
	color: #565d70;
}

.header {
	background-color: #565d70;
	color: #3c4352;
	border-top: 1px solid #6c7584;
	border-bottom: 1px solid #454e5f;
}

.header h1, .header h2, .header h3 {
	color: #454e5f;
}

.content {
	background-color: #baaf9e;
	color: #6b6456;
	border-bottom: 1px solid #35302c;
}

.content h1, .content h2, .content h3 {
	color: #6b675e;	
}

.business {
	background-color: #5e4f3c;
	color: #35302c;
	border-bottom: 1px solid #222;
}

.business h1, .business h2, .business h3 {
	color: #35302c;
}


.business a {
	color: #b7b3a7;
}

.footer {
	background-color: #35302c;
	color: #222;
}